<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="nai">对的， <%= title %></p>
    <button id="naicha">点击</button>
    <script>
      let button = document.getElementById('naicha')
      let p = document.getElementById('nai')
      button.addEventListener('click', () => {
        p.innerHTML = '点什么呢，憨憨'
      })
    </script>
  </body>
</html>
